@use "../../colors" as *;

@media (min-width: 200px) {
    .about {
        gap: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            color: $header-text;
        }
    }

    .content {
        gap: 15px;
        width: 100%;
        display: flex;
        height: fit-content;
        flex-direction: column;

        p {
            font-size: 1.05rem;
            line-height: 1.55;
            color: $paragraph;

            b {
                color: $highlight-paragraph;
            }
        }
    }
}
