@use "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&display=swap");

/// DO NOT CHANGE THIS
.section {
	width: 100%;
	display: flex;
	min-height: 100vh;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
}

/// MOSTLY DONE ?
.projects {
	gap: 30px;
	width: 80%;
	padding: 2px;
	display: flex;
	margin-top: 80px;
	padding-top: 50px;
	align-items: center;
	padding-bottom: 50px;
	flex-direction: column;
	min-height: calc(100vh - 80px);

	& > div:first-child {
		height: fit-content;
		width: 100%;

		& > h1 {
			line-height: 1;
			color: variables.$primary-heading-color;
			font-size: variables.$primary-heading-size;
		}
	}
}

.projects_list {
	gap: 70px;
	width: 100%;
	display: flex;
	flex-direction: column;

	& > li {
		width: 100%;
		display: flex;
		position: relative;
		height: calc(50vh);
		align-items: center;
	}
}

.single_project_body {
	gap: 20px;
	z-index: 2;
	width: 550px;
	display: flex;
	padding: 10px;
	height: fit-content;
	flex-direction: column;

	.project_title {
		gap: 5px;
		height: 50px;
		display: flex;
		color: #00eeffb5;
		width: fit-content;
		position: relative;
		flex-direction: column;
		justify-content: center;
		padding: 5px 0px 5px 0px;
		font-family: "Oswald", sans-serif;

		h3 {
			line-height: 1;
			font-weight: 500;
			font-size: 1.75rem;
			font-family: "JetBrains Mono", monospace;
		}

		span {
			color: white;
			line-height: 1;
			font-weight: 200;
			font-family: "Fira Code", monospace;
		}
	}

	.project_sumary {
		width: 100%;
		border-radius: 3px;
		height: fit-content;
		background-color: #0a192f;
		padding: 15px 15px 15px 20px;
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);

		p {
			font-size: 1rem;
			line-height: 1.2;
			font-family: "Inter", sans-serif;
			color: variables.$primary-paragraph-color;
		}
	}

	.project_stack {
		& > ul {
			gap: 10px;
			display: flex;
			flex-wrap: wrap;
			& > li {
				line-height: 1;
				padding: 5px 10px;
				font-size: 1.25rem;
				border-radius: 3px;
				height: fit-content;
				color: variables.$secondary-heading-color;
				border: 1px solid variables.$secondary-heading-color;
			}
		}
	}

	.project_links {
		& > ul {
			gap: 15px;
			display: flex;
			li {
				.icon {
					height: 25px;
					width: 25px;
					fill: variables.$primary-paragraph-color;
				}
			}
		}
	}
}

.project_image {
	top: 50%;
	right: 0;
	z-index: 0;
	width: 60%;
	position: absolute;
	border-radius: 6px;
	aspect-ratio: 16 / 9;
	background-color: white;
	border: 1px solid variables.$secondary-heading-color;
	transform: translateY(-50%);

	.cover {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 6px;
		filter: grayscale(20%) contrast(1) brightness(90%);
	}
}

@media (max-width: 1100px) {
	.section {
		min-height: 0;
	}
	.projects {
		width: 85%;
		min-height: 0;
	}

	.projects_list {
		gap: 25px;
		height: fit-content;
		& > li {
			height: calc(30vh);

			align-items: flex-end;
		}
	}
}

@media (max-width: 651px) {
	.section {
		min-height: 0;
	}
	.projects {
		width: 80%;
		min-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		.stack {
			& > ul {
				flex-wrap: wrap;
				& > li {
					font-size: 1.1rem;
				}
			}
		}

		.projects_list {
			width: 100%;
			height: fit-content;
			min-height: fit-content;
			justify-content: normal;
			& > li {
				box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
				height: fit-content;
			}
		}
	}

	.single_project_body {
		padding: 15px;
		width: 100%;
		height: 100%;
		background-color: #0a192f;

		.project_title {
			h3 {
				font-size: 1.25rem;
			}

			span {
				font-size: 0.9rem;
			}
		}

		.project_sumary {
			padding: 0;
			box-shadow: none;
			background-color: transparent;

			p {
				font-size: 0.9rem;
			}
		}
	}

	.project_image {
		display: none;
	}
}
