.root {
	gap: 10px;
	width: 100%;
	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	outline: 2px solid blue;

	& > div:last-child {
		gap: 30px;
		width: 99%;
		height: 90%;
		padding: 5px;
		display: flex;
		position: relative;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	& > div:first-child {
		padding: 5px;
		height: fit-content;
		outline: 2px solid yellow;
	}

	.featured {
		outline: 2px solid red;
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.featured_repository {
		gap: 15px;
		width: 477px;
		height: 250px;
		display: flex;
		border-radius: 6px;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 20px 17px 20px 17px;
		transition: outline ease-in-out 0.1s;
		transition: background-color ease-in-out 0.1s;
	}

	.image {
		width: 170px;
		aspect-ratio: 3/2;
		border-radius: 3px;
		position: relative;
		background-color: white;
		outline: 1px solid #151c28;
		transition: outline ease-in-out 0.1s;

		.imagem {
			border-radius: 3px;
		}
	}

	.top {
		gap: 10px;
		width: 100%;
		display: flex;
		position: relative;
		height: fit-content;
	}

	.xdd {
		flex: 1 1 0%;
	}

	.title {
		line-height: 1;
		color: #ff003c;
		font-weight: bold;
		font-size: 1.75rem;
	}

	.description {
		color: white;
		line-height: 1;
		font-size: 1.25rem;
	}

	.tags {
		gap: 5px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.tag {
		line-height: 1;
		color: #00f0ff;
		font-size: 1.1rem;
		text-align: center;
		width: fit-content;
		border-radius: 3px;
		padding: 3px 6px 3px 6px;
		border: 1px solid #00f0ff;
	}

	.featured_repository:hover,
	.other_repository:hover {
		cursor: pointer;
		background-color: #161c27;
		outline: 1px solid #31415e;
		transition: outline ease-in-out 0.1s;
		transition: background-color ease-in-out 0.1s;

		.screenshot {
			outline: 1px solid #31415e;
			transition: outline ease-in-out 0.1s;
		}
	}
}

.other {
	row-gap: 30px;
	width: 100%;
	display: grid;
	height: fit-content;
	justify-content: space-between;
	grid-template-columns: repeat(3, auto);

	.other_repository {
		gap: 10px;
		width: 477px;
		display: flex;
		min-height: 120px;
		border-radius: 6px;
		align-items: center;
		height: fit-content;
		flex-direction: column;
		justify-content: center;
		padding: 10px 17px 10px 17px;
		transition: outline ease-in-out 0.1s;
		transition: background-color ease-in-out 0.1s;
	}
}
