.personal_information {
	width: 100%;
	position: relative;
	height: fit-content;

	.code {
		gap: 10px;
		display: flex;
		& > span {
			font-size: 1.5rem;
			line-height: 1.6rem;
		}
		.keyword {
			color: #02aef2;
		}

		.variable {
			color: #00cc99;
		}
	}
}

@media (max-width: 630px) {
	.personal_information {
		width: 100%;
		position: relative;
		height: fit-content;

		.code {
			gap: 10px;
			display: flex;
			& > span {
				font-size: clamp(1rem, 5vw, 1.3rem);
				line-height: 1.6rem;
			}
			.keyword {
				color: #02aef2;
			}

			.variable {
				color: #00cc99;
			}
		}
	}
}
