.header {
	top: 15%;
	left: 50%;
	width: 80%;
	z-index: 90;
	height: 50px;
	display: flex;
	color: #fafafa;
	position: absolute;
	align-items: center;
	padding: 0px 50px 0px 50px;
	transform: translate(-50%, -50%);
	justify-content: space-between;
	span {
		font-size: 1.4rem;
	}
}

.resume {
	height: 50px;
	width: 150px;
	border-radius: 3px;
	border: 0.5px solid #fcee09;

	.link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	span {
		color: #fcee09;
		font-weight: 400;
		font-size: 1.4rem;
	}
}

.resume:hover {
	border-radius: 3px;
	background-color: #fcee09;
	span {
		color: #050a0e;
	}
}

.header > nav {
	gap: 30px;
	align-items: center;
	display: flex;
	width: fit-content;
	ul {
		gap: 40px;
		display: flex;

		li {
			gap: 5px;
			display: flex;
			font-size: 1.4rem;

			& > a > span:first-child {
				color: #ff003c;
				position: relative;
			}

			& > a > span:last-child {
				position: relative;
			}

			& > a > span:last-child::after {
				left: 0;
				bottom: 0;
				content: "";
				width: 0%;
				position: absolute;
				border-top: 1px solid white;
				transition: width 0.1s ease;
			}

			& > a > span:last-child:hover {
				cursor: pointer;
				color: #ff003c;
			}
			& > a > span:last-child:hover::after {
				transition: width 0.1s ease;
				width: 100%;
			}
		}
	}
}

.mobile_menu_toggle {
	display: none;
}

@media (max-width: 760px) {
	.mobile_menu_toggle {
		display: block;
	}

	.header {
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background-color: #030911;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
		position: fixed;
		transform: translate(0, 0);

		& > nav {
			display: none;
		}
	}
}
