@use "../../colors" as *;

.projects {
    gap: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        color: $header-text;
    }
}

.projects2 {
    gap: 12px;
    display: flex;
    flex-direction: column;
}
