@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.about_me {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.about_me_content {
	width: 85%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.professional_profile {
	gap: 10px;
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: row;

	& > div {
		outline: 2px solid green;
		gap: 10px;
		width: 400px;
		padding: 20px;
		display: flex;
		aspect-ratio: 1/1;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	& > div:nth-child(1) {
		.ricon {
			fill: #ff003c;
		}
		border: 1px solid #ff003c;
	}
	& > div:nth-child(2) {
		border: 1px solid #00f0ff;
	}
	& > div:nth-child(3) {
		border: 1px solid #fcee09;
	}
}

.skill_header {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;

	& > .icon {
		height: 100%;
		padding: 15px;
		aspect-ratio: 1/1;

		& > .ricon {
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}

	span {
		font-family: "JetBrains Mono", monospace;
		line-height: 1;
		color: #fafafa;
		font-size: 1.75rem;
	}
}

.icons {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	img {
		border-radius: 3px;
		background-color: #151c28;
		padding: 5px;
		width: 50px;
		height: 50px;
	}
}

.skill_body {
	gap: 15px;
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;

	p {
		color: #fafafa;
		line-height: 1.25;
		font-size: 1.25rem;
		position: relative;
		text-align: justify;
	}
}

@media (max-width: 760px) {
	.professional_profile {
		outline: 2px solid red;
		height: fit-content;
		flex-direction: column;

		& > div {
			width: 100%;
		}
	}

	.about_me_content {
		height: 93%;
	}
}
