.footer {
	width: 100%;
	display: flex;
	margin-top: 130px;
	align-items: center;
	height: fit-content;
	padding: 0px 30px 20px 30px;
	justify-content: space-between;

	& > * {
		color: white;
	}

	& > div:first-child {
		display: flex;
		flex-direction: column;
		span {
			line-height: 1;
			font-size: 1.35rem;
		}
	}

	& > div:last-child {
		display: flex;
		flex-direction: row;

		& > ul {
			/* "flex flex-row gap-[10px] text-white" */
			gap: 15px;
			display: flex;
			flex-direction: row;

			& > a > li {
				line-height: 1;
				font-size: 1.25rem;
			}
		}
	}
}
