@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scroll-snap-type: y proximity;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

@layer components {
	.code {
		@apply font-jetbrains;
	}
}
