@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	scroll-behavior: smooth;
}

html {
	scrollbar-width: thin;
	scrollbar-color: white #030911;
}

main {
	height: fit-content;
	min-height: 100vh;
}

body {
	background-color: #030911 /* linear-gradient(225deg, #03071e 0%, #050a0e 100%) */;
}

section {
	min-height: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

h1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@layer components {
	.code {
		@apply font-jetbrains;
	}
}
