// Coloooooooooooooooooooooooooooooors
$white: #f2e9e4;
$primary-heading-color: #ff003c;
$primary-paragraph-color: #8892b0;
$secondary-heading-color: #00f0ff;

// Sizes
$primary-heading-size: clamp(2rem, 2vw, 2vw);
