@use "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&display=swap");

.mobile_menu_toggle {
	display: none;
}

.silly {
	width: 100%;
	bottom: 5%;
	height: 50px;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;

	& > button > .icon {
		width: fit;
		height: fit;
	}
}

@media (min-width: 200px) {
	.mobile_menu_toggle {
		display: block;
	}

	.landing {
		width: 100%;
		display: flex;
		height: 100vh;
		align-items: flex-end;
		max-height: 750px;
		justify-content: center;
	}

	.landing_container {
		gap: 10px;
		width: 90%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		& > div {
			h1 {
				color: #f2e9e4;
				line-height: 1.25;
				font-weight: 600;
				position: relative;
				font-size: clamp(35px, 8vw, 80px);
				font-family: "Oswald", sans-serif;
			}

			p {
				width: 100%;
				line-height: 1.15;
				font-size: clamp(5px, 8vw, 1.35rem);
				color: variables.$primary-paragraph-color;
			}
			// Why is this here ? Idk, just don't take it away
			span {
				color: #f2e9e4;
				font-weight: 200;
				font-size: 1.65rem;
				font-family: "Roboto Condensed", sans-serif;
			}
		}
	}
}

@media (min-width: 760px) {
	.landing_container {
		gap: 10px;
		padding-top: 20px;
		width: 75%;
	}

	.landing_container {
		& > div {
			h1 {
				line-height: 1.1;
			}
			p {
				width: 80%;
			}
		}
	}
}

@media (min-width: 1200px) {
	.landing_container {
		& > div {
			p {
				font-size: 1.5rem;
				width: 50%;
			}
		}
	}
}
