@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&display=swap");

.experience {
	width: 100%;
	display: flex;
	min-height: 100vh;
	position: relative;
	align-items: center;
	flex-direction: column;
	outline: 2px solid red;
	justify-content: flex-end;
}

.experience_content {
	width: 80%;
	padding: 2px;
	display: flex;
	padding-top: 50px;
	align-items: center;
	flex-direction: column;
	outline: 2px solid blue;
	margin-top: 80px;
	min-height: calc(100vh - 80px);
}

.projects {
	gap: 50px;
	width: 90%;
	display: flex;
	flex-direction: column;
	outline: 2px solid green;

	li {
		width: 100%;
		display: flex;
		position: relative;
		height: calc(60vh);
		align-items: center;
		outline: 1px solid yellow;
	}
}

.project_content {
	gap: 20px;
	z-index: 1;
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: fit-content;
	outline: 2px solid #050a0e;

	.title {
		gap: 5px;
		height: 50px;
		display: flex;
		color: white;
		width: fit-content;
		position: relative;
		flex-direction: column;
		justify-content: center;
		padding: 5px 0px 5px 0px;
		font-family: "Oswald", sans-serif;

		h3 {
			line-height: 1;
			font-weight: 500;
			font-size: 1.75rem;
			font-family: "JetBrains Mono", monospace;
		}

		span {
			line-height: 1;
			font-weight: 200;
			color: #00eeffb5;
			font-family: "Fira Code", monospace;
		}
	}

	.summary {
		width: 100%;
		border-radius: 3px;
		height: fit-content;
		background-color: #0a192f;
		padding: 15px 15px 15px 20px;
		box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);

		p {
			font-family: "Inter", sans-serif;

			line-height: 1.2;
			font-size: 1rem;
			color: #818aa8;
		}
	}
}

.project_image {
	top: 0;
	right: 0;
	height: 100%;
	aspect-ratio: 3/2;
	position: absolute;
	outline: 2px solid red;
}
